<!DOCTYPE html>

<html>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        {% extends "portfolio/base.html" %}
        {% load static %}
        {% block content %}

        <h2>Add project:</h2>
        <form method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          
          <div id="form_set">
            {% for form in formset.forms %}
                <div class="individual-form">
                {{form.non_field_errors}}
                {{form.errors}}
                <table class='no_error'>
                  {{ form }}
                </table>
              </div>
            {% endfor %}
          </div>
          <div id="empty_form" style="display:none">
              <table class='no_error'>
                {{ formset.empty_form }}
              </table>
          </div>
          <button type="submit">Add Project</button>
          {{ formset.management_form }}
        </form>

        <script src="{% static 'dynamic_formsets/jquery.formset.js' %}" type="text/javascript"> </script>

        <script type="text/javascript">
          $('.individual-form').formset({
            prefix: "{{formset.prefix}}",
            uiText: {addPrompt:'Add image', removePrompt:'Remove image'},
          });
        </script>
        
      {% endblock %}
    </body>
</html>